---
import Base from "#/layouts/Base.astro";
import HeaderNav from "#/components/HeaderNav.svelte";
import Burger from "#/assets/icons/hamburger.svg";

const ogpImage = { url: "image.url", alt: "image.alt", type: "image.type" };
const ogpBase = { title: "title", type: "website", description: "desc" };
---

<Base seo={{ ogpBase, ogpImage }}
	><HeaderNav client:visible><Burger /></HeaderNav>
	<main>
		<section>Let ideas cruise.</section>
		Testing this.
	</main>
</Base>

<style>
	:global(body) {
		height: 200dvh; /* remove this, finally */
	}
</style>
