---
import SEO, { type Props as SEOData } from "#/components/SEO.astro";
import ThemeManager from "#/components/ThemeManager.astro";
import FontLoader from "#/components/FontLoader.astro";
import { ClientRouter } from "astro:transitions";

interface Props {
	seo: SEOData;
}

const { seo } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{seo.ogpBase.title}</title>
		<ThemeManager />
		<FontLoader />
		<ClientRouter />
		<SEO {...seo} />
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	@layer reset, base, typography;

	@layer base {
		:root {
			--fonts-base: "Atkinson Hyperlegible", "Atkinson Hyperlegible fallback",
				system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Arial,
				Noto Sans, sans-serif;
			--fonts-header: "Aclonica", "Aclonica fallback", system-ui, -apple-system,
				BlinkMacSystemFont, Segoe UI, Arial, Noto Sans, sans-serif;
			--fonts-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
				"Liberation Mono", "Courier New", monospace;

			--fonts-sm: clamp(0.8rem, 0.13cqi + 0.77rem, 0.89rem);
			--fonts-md: clamp(1rem, 0.28cqi + 0.94rem, 1.19rem);
			--fonts-lg: clamp(1.25rem, 0.49cqi + 1.15rem, 1.58rem);
			--fonts-xl: clamp(1.56rem, 0.81cqi + 1.4rem, 2.11rem);
			--line-height-compressed: 1.2;
			--line-height-md: 1.5;
			--line-height-heading: 1.15;
			--line-height-list: 1.4;
		}

		:root[data-theme="light"] {
			--color-background: oklch(97.67% 0.0026 286.35);
			--color-surface: oklch(94.79% 0.0025 228.79);
			--color-divider: oklch(89.93% 0.0026 228.79);
			--color-text: oklch(28.28% 0.0057 236.73);
			--color-main: oklch(65.51% 0.2346 15.54);
			--color-focus: oklch(63.7% 0.2497 19.84);
			--color-mark: oklch(68.4% 0.1283 172.59);
		}

		:root[data-theme="dark"] {
			--color-background: oklch(97.67% 0.0026 286.35);
			--color-surface: oklch(94.79% 0.0025 228.79);
			--color-divider: oklch(89.93% 0.0026 228.79);
			--color-text: oklch(28.28% 0.0057 236.73);
			--color-main: oklch(65.51% 0.2346 15.54);
			--color-focus: oklch(63.7% 0.2497 19.84);
			--color-mark: oklch(68.4% 0.1283 172.59);
		}

		.sr-only {
			position: absolute;
			width: 1px;
			height: 1px;
			padding: 0;
			margin: -1px;
			overflow: hidden;
			clip: rect(0, 0, 0, 0);
			white-space: nowrap;
			border-width: 0;
		}

		@media (prefers-reduced-motion: no-preference) {
			html {
				scroll-behavior: smooth;
			}
		}

		body {
			min-height: 100vh;

			font: var(--fonts-md) / var(--line-height-md) var(--fonts-base);
			-webkit-font-smoothing: antialiased;
		}
	}

	@layer reset {
		* {
			box-sizing: border-box;
			margin: 0;
		}

		html {
			overflow-wrap: break-word;
			-webkit-tap-highlight-color: transparent;
			-webkit-text-size-adjust: none;
			tab-size: 4;
		}

		:where(h1, h2, h3, h4, h5, h6) {
			text-wrap: balance;
		}

		:where(p) {
			text-wrap: pretty;
		}

		:where(ul[role="list"], ol[role="list"]) {
			list-style: none;
		}

		:where(img, video, canvas, svg) {
			vertical-align: middle;
			max-width: 100%;
			display: block;
			height: auto;
		}

		:where(input, button, textarea, select) {
			font: inherit;
		}

		:where(button, [type="button"], [type="reset"], [type="submit"]) {
			-webkit-appearance: button;

			&::-moz-focus-inner {
				border-style: none;
				padding: 0;
			}

			&:-moz-focusring {
				outline: 1px dotted ButtonText;
			}
		}

		/* Uncomment as necessary.
			[type="number"] {
				&::-webkit-inner-spin-button,
				&::-webkit-outer-spin-button {
					height: auto;
				}
			}

			::-webkit-file-upload-button {
				-webkit-appearance: button;
				font: inherit;
			} */
	}
</style>
