---
import SEO, { type Props as SEOData } from "#/components/SEO.astro";
import ThemeManager from "#/components/ThemeManager.astro";
import FontLoader from "#/components/FontLoader.astro";
import { ClientRouter } from "astro:transitions";

interface Props {
	seo: SEOData;
}

const { seo } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{seo.ogpBase.title}</title>
		<ThemeManager />
		<FontLoader />
		<ClientRouter />
		<SEO {...seo} />
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	:root {
		--fonts-base: "Atkinson Hyperlegible", "Atkinson Hyperlegible fallback",
			system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Arial, Noto Sans,
			sans-serif;
		--fonts-header: "Aclonica", "Aclonica fallback", system-ui, -apple-system,
			BlinkMacSystemFont, Segoe UI, Arial, Noto Sans, sans-serif;
		font-family: var(--fonts-base);
	}
</style>
